{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <h2>Profile</h2>
    {% if user.is_authenticated %}
        <p><strong>Name:</strong> {{ user.get_full_name }}</p>  <!-- Full name -->
        <p><strong>Email:</strong> {{ user.email }}</p>  <!-- Email -->
        <p><strong>Number of Bills Created:</strong> {{ num_bills }}</p>  <!-- Number of bills created -->
        <p><strong>Total Amount Owed:</strong> ${{ total_owed }}</p>  <!-- Total amount owed -->

        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">Sign In With Google</a>
    {% endif %}
</body>
{% endblock %}